CREATE OR ALTER PROCEDURE [dbo].[stp_GetLocationByPerformanceFileId]
@PerformanceFileId          INT,
@ApplicationId				INT,
@OrganizationId				UNIQUEIDENTIFIER = NULL,
@TenantId					UNIQUEIDENTIFIER = NULL
AS
/**************************************************************************************
PROCEDURE NAME	:	stp_GetLocationByPerformanceFileId
CREATED BY		:	Mohammed Yaseer
CREATED DATE	:	14th March 2024
MODIFIED BY		:	
MODIFIED DATE	:	
PROC EXEC		:
				EXEC stp_GetLocationByPerformanceFileId
**************************************************************************************/
BEGIN TRY
    IF EXISTS (SELECT TOP 1 1 FROM [dbo].[tbl_PerformanceLocation] (NOLOCK) WHERE [PerformanceFileId] = @PerformanceFileId AND [ApplicationId] = @ApplicationId)
    BEGIN
        SELECT [result] = JSON_QUERY((
            SELECT pl.[Id], 
                   ISNULL(pl.[PerformanceFileId], '')		[PerformanceFileId],
                   ISNULL(pl.[Name], '')					[Name],
				   ISNULL(pl.[NumberUser], '')				[NumberUser],
				   ISNULL(pl.[PercentageTraffic], '')		[PercentageTraffic],
				   [Application] = JSON_QUERY((
						SELECT app.[ApplicationId], app.[ApplicationName]
						FROM [dbo].[tbl_Applications] (NOLOCK) app
						WHERE app.[ApplicationId] = pl.[ApplicationId]
						FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
					))
            FROM [dbo].[tbl_PerformanceLocation] (NOLOCK) pl
            WHERE pl.[PerformanceFileId] = @PerformanceFileId
				  AND (@ApplicationId = 0 OR pl.[ApplicationId] = @ApplicationId)
            FOR JSON PATH
        ))
    END
    ELSE
    BEGIN
        SELECT [result] = JSON_QUERY((
            SELECT 'fail' AS [status], 
                   'PerformanceFileId not found' AS [message]
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        ))
    END
END TRY
BEGIN CATCH
    SELECT [result] = JSON_QUERY((
        SELECT 'fail' AS [status], 
               ERROR_MESSAGE() AS [message]
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    ))
END CATCH